
wordpress/wp-content/.DS_Store

wordpress/wp-content/themes/.DS_Store

.DS_Store

wordpress/wp-content/.DS_Store

assets/.DS_Store

wordpress/.DS_Store

wordpress/wp-content/themes/.DS_Store

wordpress/wp-content/.DS_Store

wordpress/wp-config.php